@font-face {
  font-family: "MiCharactersOnly";
  src: url("./../fonts/MiCharactersOnly.otf") format("opentype");
}

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 999999999;
}

button {
  font-family: sans-serif;
  height: 10%;
  width: 10%;
  margin: -5% -5%;
  position: relative;
  top: 50%;
  left: 50%;
  font-weight: bold;
  border-radius: 1em;
  border: 1px solid #000;
}

.xiaomi_div {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.xiaomi_text {
  font-family: "MiCharactersOnly";
  color: white;
  word-wrap: break-word;
  font-size: 600%;
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
}

.miui_div {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.miui_text, .miui_overlay {
  font-family: "MiCharactersOnly";
  background: linear-gradient(to right, #f69f96, #cc78ea, #73a7f2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word;
  font-size: 333.333%;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;
}

.miui_overlay {
  background: linear-gradient(
      to right,
      transparent,
      transparent,
      white,
      transparent,
      transparent
    )
    right/500%;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

@keyframes move {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.loader {
  color: white;
  font-size: 200%;
  font-family: "MiCharactersOnly";
  text-align: center;
  position: fixed;
  bottom: 5%;
  width: 80%;
  left: 10%;
  display: none;
}

.loader__dot {
  animation: blink 1.5s linear infinite;

}
.loader__dot:nth-child(2) {
  animation-delay: 312.5ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 625ms;
}

@keyframes blink {
  100% {
    color: transparent;
  }
}

body {
  background-color: #000;
}
